@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');
@font-face{
    font-family: "Raleway";
    src: url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: "Pacifico";
    src: url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "Titillium Web";
    src: url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');
    font-weight: normal;
    font-style: normal;

}
* {
    box-sizing: border-box;
    font-family: Raleway;
    color: #777;
}
html, body{
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
}
.nav li{
    display: inline;
}
nav a{
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}
.main-nav {
    text-align: center;
    font:1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}
.main-nav li{
    padding: 0 5%;
}
.nav a:hover {
background-color: rgba(255, 255, 255, .3);
}
.main-header {
    background-color: rgba(0,0,0,.6);
    background-image:  url("header.jpg");
    background-size: cover;
    background-blend-mode: multiply;
    padding-bottom: 30px;
}
.your-name{
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "Pacifico";
    font-weight: normal;
    color: white;
}
.your-name-large{
    font-size: 5em;
}
.content-section{
    margin: 1em;
}
.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}
.section-header{
    font-family: "Titillium Web";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}
.about-college-image{
    float: left;
    height: 400px;
    width: 400px;
    margin: 15px;
}